.footer-desktop {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.social-footer-icons {
    color: white;
    font-size: 20px;
    padding: 0px 15px;

    .fa:hover {
        color: #4a4a4a;
        transition: color 0.3s ease-in;
    }
}
@media screen and (max-width: 600px) {
    .gamesLink {
        display: none;
    }
}