@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@mixin transition() {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

html {
    font-family: "Dosis", sans-serif;
    font-weight: 300;
}

.navbar-desktop {
    padding-top: 0rem;
    height: auto;
    display: flex;
    align-items: center;
    align-content: right;
    justify-items: center;
    justify-content: right;
}
@media screen and (max-width: 600px) {
    .navbar-desktop {
        display: none;
    }
    .navbar-mobile {
        display: block;
    }
}
@media screen and (min-width: 600px) {
    .navbar-desktop {
        display: block;
    }
    .navbar-mobile {
        display: none;
    }
}

.navbar-links {
    float: right;
    margin-right: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*    overflow: hidden;*/
    display: flex;
    align-items: center;
}

li {
    float: left;
    padding: 15px 15px;

    .link {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 12px;
        @include transition();

        &:hover {
            color: #ffcb39;
        }
    }
}

.dropdown {
    float: left;
    overflow: hidden;

    .dropbtn {
        border: none;
        outline: none;
        color: white;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: inherit;
        font-family: inherit;
        /* Important for vertical align on mobile phones */
        margin: 0;
        /* Important for vertical align on mobile phones */
    }

    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;

    a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
            color: black;
            background-color: rgb(190, 190, 190);
        }
    }
}

.mobile-main-dropdown {
    position: absolute;
    right: 0%;
    top: 20px;
    background: transparent;
    border: 0;
    font-size: 50px;
    color: rgb(190, 190, 190);
    z-index: 12;
}
.mobile-navbar-container {
    ul {
        text-transform: uppercase;
        position: absolute;
        right: 10%;
        top: 1%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        width: 15em;
        height: auto;
        z-index: 10;
        flex-direction: column;
    }
}
