@import "./_content";
body {
    margin: 0;
}
html {
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    &::-webkit-scrollbar {
        display: none;
    }
}
.page {
    position: relative;
    min-height:100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.page-content {
    padding: 0;
    width: 100%;
    position: relative;
}
.header {
 width:100%;
 height: auto;
 padding: 1em;
}
.footer {
    position: absolute;
    overflow: hidden;
    height: auto;
    bottom: 20px;
    width: 100%;
}