@import "./_content";
@mixin transition() {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    &::-webkit-scrollbar {
        display: none;
    }
}
.page {
    position: relative;
    min-height:100vh;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.page-content {
    padding: 0;
    width: 100%;
    position: relative;
}
.header {
 width:100%;
 height: auto;
 padding: 1em;
}
.footer {
    position: absolute;
    overflow: hidden;
    height: auto;
    bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .header {
        padding-bottom: 4em;
    }
}