body {
    margin: 0
}
.page-container{
    
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll; 
    margin: 0;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    position: relative;   
}
.page-background {
    background: url(../../images/bg_purple.png);
    background-repeat: repeat-x;
    background-size:auto;
    background-position: left top;
    position: fixed; 
    height: 100vh;
    width: 100vw;
}
.content {
    padding-bottom: 2.5rem
 }